<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HARSH DUBEY</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">            
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>   
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" href="css/style.css">    

    <script src="js/connection.js"></script>
    <!-- Offline Links -->
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css" /> -->
</head>
<body onload="ConnectionCheck()">
    <header class="fixed-top">
        <div class="container-fluid d-flex justify-content-between" id="headerContainer">
            <h1><a href="/" id="headerBrand">Harsh</a></h1>
            <nav id="navbar" class="navbar navbar-expand-lg navbar-light">
                <button class="navbar-toggler" id="menuButton" type="button" data-toggle="collapse" data-target="#navbox"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button><br/>
                <div class="collapse navbar-collapse" id="navbox">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link headerLink" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link headerLink" href="/about">About</a></li>                        
                        <li class="nav-item"><a class="nav-link headerLink" href="/services">Services</a></li>
                        <li class="nav-item"><a class="nav-link headerLink" href="/portfolio">Portfolio</a></li>
                        <li class="nav-item"><a class="nav-link headerLink" href="/contact">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>