<!-- Include Header -->
<%- include('includes/_header') -%>
<!-- /Include Header -->
<section id="bodySection" class="d-flex align-items-center">
  <div
    id="ContactBodyContainer"
    class="container-fluid mt-5 justify-content-center"
  >
    <!-- Contact Section -->
    <div
      class="row justify-content-center shadow-lg"
      id="ContactBodyRow1"
      data-aos="zoom-out"
    >
      <div class="col-md-12 text-center py-2">
        <h1 class="text-center" id="ContactCardTitle">Contact Me</h1>
        <hr class="w-50 hLine" />
        <hr class="w-25 hLine" />
      </div>
      <!-- Google Map  -->
      <div class="col-md-12">
        <div>
          <!-- <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15075.238948200418!2d72.85629599744694!3d19.15980394570272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b65a7edbbdb9%3A0xf447c38599143078!2sGoregaon%2C%20Mumbai%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1615269729077!5m2!1sen!2sin" ></iframe> -->
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15075.238948200418!2d72.85629599744694!3d19.15980394570272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b65a7edbbdb9%3A0xf447c38599143078!2sGoregaon%2C%20Mumbai%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1615269729077!5m2!1sen!2sin"
            frameborder="0"
            allowfullscreen
            id="googleMap"
          ></iframe>
        </div>
      </div>
      <!-- End -->
      <div class="row my-4 w-100">
        <!-- Icon Section -->
        <div class="col-md-6">
          <div
            class="card shadow-lg py-4 my-5 contactIconCard"
            data-aos="fade-right"
          >
            <div class="d-flex justify-content-around">
              <img
                src="../../img/icons/location2.png"
                class="rounded-circle contactIcons"
                alt="Address"
              />
              <div style="width: 340px">
                <h2>Address</h2>
                <h5>B/1001,Sadbhav Excel Estate Soc.</h5>
              </div>
            </div>
          </div>

          <div
            class="card shadow-lg py-4 my-5 contactIconCard"
            data-aos="fade-right"
            data-aos-delay="100"
          >
            <div class="d-flex justify-content-around">
              <img
                src="../../img/icons/mail2.png"
                class="rounded-circle contactIcons"
                alt="Email"
              />
              <div style="width: 340px">
                <h2>Email</h2>
                <h5>mailforharshdubey@gmail.com</h5>
              </div>
            </div>
          </div>

          <div
            class="card shadow-lg py-4 my-5 contactIconCard"
            data-aos="fade-right"
            data-aos-delay="200"
          >
            <div class="d-flex justify-content-around">
              <img
                src="../../img/icons/phone.png"
                class="rounded-circle contactIcons"
                alt="Phone"
              />
              <div style="width: 340px">
                <h2>Call</h2>
                <h5>(+91) 9004172202</h5>
              </div>
            </div>
          </div>
          <!-- End -->
        </div>
        <!-- End -->
        <!-- Form Section -->
        <!-- facebook -->
        <div class="col-md-6">
          <div
            class="card shadow-lg py-4 my-5 contactIconCard"
            data-aos="fade-right"
            data-aos-delay="100"
          >
            <div class="d-flex justify-content-around">
              <img
                src="../../img/icons/facebook.png"
                class="rounded-circle contactIcons"
                alt="Facebook"
              />
              <div style="width: 340px">
                <h2>Facebook</h2>
                <h5>
                  <a href="https://www.facebook.com/harshchandradubey"
                    >Harsh Dubey</a
                  >
                </h5>
              </div>
            </div>
          </div>
          <!-- Instagram -->
          <div
            class="card shadow-lg py-4 my-5 contactIconCard"
            data-aos="fade-right"
            data-aos-delay="100"
          >
            <div class="d-flex justify-content-around">
              <img
                src="../../img/icons/instagram.png"
                class="rounded-circle contactIcons"
                alt="Instagram"
              />
              <div style="width: 340px">
                <h2>Instagram</h2>
                <h5>
                  <a href="https://www.instagram.com/harsh._.dubey/"
                    >Harsh._.Dubey</a
                  >
                </h5>
              </div>
            </div>
          </div>
          <!-- <form action="/sendmail" method="POST" role="form" class="py-4 my-4">
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="ml-2 labelForm" for="inpUsername">Name</label>
                  <input type="text" class="form-control form-control-lg inpForm text-dark" id="inpUsername"
                    name="user_name" placeholder="Enter Your Full Name" required />
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="ml-2 labelForm" for="inpUseremail">Email</label>
                  <input type="email" class="form-control form-control-lg inpForm text-dark" id="inpUseremail"
                    name="user_email" placeholder="Enter Your Email Address" required />
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="ml-2 labelForm" for="inpSubject">Subject</label>
                  <input type="text" class="form-control form-control-lg inpForm text-dark" id="inpSubject"
                    name="subject" placeholder="Enter Mail Subject" required />
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="ml-2 labelForm" for="inpUsermessage">Message</label>
                  <textarea class="form-control form-control-lg inpForm text-dark" id="inpUseremail" name="user_message"
                    placeholder="Enter Your Message" rows="5" required></textarea>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-outline-primary ml-2 shadow-sm">
                    Send Message
                  </button>
                </div>
              </div>
            </form> -->
        </div>
        <!-- End -->
      </div>
    </div>
    <!-- End -->
  </div>
</section>

<!-- Include Footer -->
<%- include('includes/_footer') -%>
<!-- /Include Footer -->
