<!-- Include Header -->
<%- include('includes/_header') -%>
<!-- /Include Header -->
<!-- Main Section -->
    <section id="HomeBodySection" class="d-flex align-items-center">
        <div class="container" id="HomeBodyContainer" >
            <h1 id="HomeHeadingTxt" data-aos="zoom-in">Harsh Dubey</h1>
            <h2 id="HomeParaTxt">I am <span id="HomeParaFocusTxt">Developer</span></h2><br/>
            <a href="/about" id="HomeAboutButton">ABOUT</a>
        </div>
    </section>   
<!-- / Main Section -->
<!-- Include Footer -->
<%- include('includes/_footer') -%>
<!-- /Include Footer -->