<!-- Include Header -->
<%- include('includes/_header') -%>
<!-- /Include Header -->
<section id="bodySection" class="d-flex align-items-center">
    <div id="ServicesBodyContainer" class="container-fluid mt-2  justify-content-center">
        <!-- Specialty Section -->
        <div class="row justify-content-center mt-5 shadow-lg" id="ServicesBodyRow1"  data-aos="zoom-out">
            <div class="col-md-12 text-center my-3">
                <h1 id="ServicesCardTitle">My Specialties</h1>
                <hr class="w-75 hLine" />
                <hr class="w-25 hLine" />
            </div>
            <div class="col-md-6 text-center mb-2">
                <img src="../../img/webapp.png" class="img img-fluid " id="webAppImg">
                <h3 class="text-primary">Web-App Development</h1>
                    <h6>Experienced in developing web application using React framework.</h6>
            </div>
            <div class="col-md-6 text-center mb-2">
                <img src="../../img/webdev.png" class="img img-fluid">
                <h3 class="text-primary">Website Development</h1>
                    <h6>Skilled in developing website using PHP.</h6>
            </div>
        </div>
        <!-- End -->
    </div>
</section>
<!-- Include Footer -->
<%- include('includes/_footer') -%>
<!-- /Include Footer -->